body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}
header{
    width: 43%;
    height: 30px;
    margin: auto;
    margin-top: 2%;
    font-weight: bold;
    background-color: #4483c7;
    border-bottom: 2px solid #000;
    color: #fff;
}
span{
    display: inline-block;
    font-size: 1.2em;
    padding: 1% 1.5%;
}
h2{
    width: 43%;
    margin: auto;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
}
article{
    width: 43%;
    margin: auto;
    border: 1px solid #538620;
    margin-bottom: 2%;
}
h3{
    width: 98%;
    padding: 0.5% 1%;
    background-color: #538620;
    font-weight: bold;
    color: #fff;
}
p{
    margin: 1%;
}
.info{
    margin: 0.2%;
    font-size: 0.9em;
    font-weight: lighter;
    color: #8f8f9b;
}
