<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Layout 1</title>
        <link rel="stylesheet" href="css/reset.css" />
        <link rel="stylesheet" href="css/Layout1.css" />
    </head>
    <body>
        <header>
            <p>This is the header</p>
        </header>
        <main>
            <p>This is the content</p>
        </main>
        <footer>
            <div class="leftFooter">
                <p>This is the left footer section</p>
            </div>
            <div class="rightFooter">
                <p>This is the right footer section</p>
            </div>
        </footer>
    </body>
</html>
